body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-areas: "h h " "nav main";
  grid-template-columns: 20% auto;
  background-color: lightblue;

}

body > header {
  color: white;
  background-color: darkblue;
  grid-area: h;
  padding:30px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body > header > h1 {
   width: 100%;
   text-align: center;
}


nav {
  grid-area: nav;
  color: darkblue;
  background-color: white;
  border: 5px solid darkblue; 
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10px 10px 10px 0px; 
}

nav a {
  color: darkblue;
}

main {
  grid-area: main;
  color: blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


main > section {
  width: 20%;
  margin:20px;
  padding: 15px;
  min-width: 250px;
  color: blue;
}

main > table {
  border-collapse: collapse;
}
